{% extends 'base.html' %}
{% load static %}

{% block content %}
 <header class="bg-dark py-5"  style="background-image: url('https://t3.ftcdn.net/jpg/05/20/68/84/360_F_520688411_0T9u1aWvP41ivsDmjXzM5fvBcUdnspjL.jpg'); background-size: cover;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-80 mb-0">View Your Cart...</p>
        </div>
    </div>
</header><br/>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
        <div class="card mb-3" style="min-height: 75vh;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                   <h4 class="card-title">{{ product.name }}</h4>
                    <h5 class="card-text">{{ product.sub_title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <h6 class="card-text">Price:&nbsp;&nbsp;
                    {% if product.is_sale %}
                        {{ product.sale_price }} LKR
                    {% else %}
                        {{ product.price }} LKR
                    {% endif %}
                    </h6>
                    <div class="row justtify-content-center">
                    <div class="col-md-2">Quantity</div>
                        <div class="col-md-2">
                            <select class="form-select" id="select{{product.id}}">
                              <option selected>
                                {% for key, value in quantities.items %} 
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %} 

                              </option>
                              {% for i in quantity_range %}
                                <option value="{{ i }}">{{ i }}</option>
                              {% endfor %}
                            </select>

                            <!--<input class="form-control" id="select{{ product.id }}" 
                            type="number" min="1" max="10" 
                            value="{% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                            {{ value }}
                            {% endif %}
                            {% endfor %}">-->

                        </div>
                    </div><br><br>
                    <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
                    <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                    <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove</button>
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
    <div align="right"><br>
        <h3>Total: {{ totals }} LKR</h3>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
    </div>

    <br><br>

    {% else %}
            <h6>Your cart is empty....</h6>
    {% endif %}


</div>

<script>
    // update cart
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();

        //grabing the product id
        var productid = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err) {
            }
        });
    });


    //delete cart
    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        //grabing the product id
        //var productid = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err) {
            }
        });
    });

</script>
        
{% endblock %}