{% extends 'base.html' %}
{% load static %}

{% block content %}
 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to the online seamless bla bla bla...</p>
                </div>
            </div>
        </header>
        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<p align="justify"><br/><br/>
        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut aliquam nisl. Maecenas mauris purus, consectetur et purus sed, accumsan congue ex. Quisque tristique quam nec fringilla bibendum. Nunc aliquet, dui ut volutpat tincidunt, quam urna molestie ante, condimentum eleifend neque augue a velit. Vestibulum suscipit libero id nibh cursus fermentum. Nulla vel lacus vel ligula fermentum placerat sit amet at libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        					<br/><br/>
							Mauris vel urna et nibh rhoncus lobortis. Donec auctor purus posuere felis cursus tincidunt. Maecenas convallis felis in metus placerat posuere. Vestibulum sapien orci, scelerisque nec fringilla non, vestibulum et massa. Nulla facilisi. Nullam eu ex ullamcorper, tristique velit vitae, lacinia risus. Morbi posuere malesuada nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean bibendum ante enim, porta aliquam purus tincidunt id. Mauris a odio at dui finibus volutpat elementum non velit. Nulla nulla ligula, rutrum nec sapien a, gravida ullamcorper ligula. In dui diam, finibus vitae nibh eget, lobortis sodales purus. Integer eu nunc non leo sollicitudin elementum in sed nisl. Praesent vestibulum eu justo non elementum. Nulla at leo ut mi porta imperdiet.
							<br/><br/>
							Vestibulum nunc dolor, facilisis eget quam eget, laoreet condimentum lectus. Aliquam ac libero non est imperdiet scelerisque ac eget eros. Phasellus tempus vitae elit sit amet egestas. In aliquet, metus quis dapibus iaculis, tortor purus venenatis ex, nec mattis mauris lectus vel risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis gravida, ipsum congue pulvinar viverra, dolor dui pellentesque est, ac molestie tortor enim ac purus. Quisque ac dui efficitur, scelerisque orci in, ornare tellus. Praesent accumsan eros est.
							<br/><br/>
        				</p>
        			</div>
        		</center>
        	</div>
        </div>
{% endblock %}