{% extends 'base.html' %}
{% load static %}

{% block content %}
        <header class="bg-dark py-5" style="background-image: url('https://www.shutterstock.com/image-illustration/graphic-watercolor-digital-painting-girl-260nw-722069287.jpg'); background-size: cover;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Steller Whale...</p>
                </div>
            </div>
        </header>
        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<p align="justify"><br/><br/>

                            At Stellar Whale, we're passionate about bringing you an exceptional online bookstore experience. Founded with a vision to redefine the way you discover and indulge in the world of literature, we strive to provide a seamless platform where quality meets convenience.
                            <br/><br/>
                            <strong>Our Story</strong>
                            <br/><br/>
                            Inspired by the evolving needs of modern readers, we embarked on a journey to create a digital destination that offers more than just books. Our story began with a simple idea: to curate a diverse selection of literary works from acclaimed authors and independent publishers, all in one place.
                            <br/><br/>
                            Since our inception, we've remained committed to our core values of integrity, innovation, and customer-centricity. Every decision we make is driven by a relentless pursuit of excellence and a genuine desire to exceed your expectations.
                            <br/><br/>
                            <strong>Join Our Journey</strong>
                            <br/><br/>
                            As we continue to grow and evolve, we invite you to join us on this exciting literary journey. Explore our curated collections, connect with fellow book enthusiasts, and experience the joy of discovering something special every time you visit Stellar Whale.
                            <br/><br/>
                            Thank you for choosing Stellar Whale as your preferred online bookstore. We're honored to be a part of your reading experience, and we look forward to serving you for years to come.
                            <br/><br/>
                            Happy reading!
                            <br/><br/>
                            Stellar Whale Team
                            <br/><br/>
        				</p>
        			</div>
        		</center>
        	</div>
        </div>
{% endblock %}