{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="bg-dark py-5"  style="background-image: url('https://t3.ftcdn.net/jpg/05/20/68/84/360_F_520688411_0T9u1aWvP41ivsDmjXzM5fvBcUdnspjL.jpg'); background-size: cover;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Categories</h1>
                <p class="lead fw-normal text-white-80 mb-0">Choose the category you want...</p>
            </div>
        </div>
    </header>
    <br/><br/>
        <div class="container">
        <div class="row">
            {% for column in columns %}
                <div class="col-md-3">
                    <div class="list-group">
                        {% for category in column %}
                            <a href="{% url 'category' category %}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}

        </div>
        <br/><br/>
</div>

            
        
{% endblock %}