{% extends 'base.html' %}
{% load static %}

{% block content %}
        <br><br>
        <div class="container">
        	<div class="row">
                    <div class="card mb-3" style="min-height: 75vh;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                   <h4 class="card-title">{{ product.name }}</h4>
                                    <h5 class="card-text">{{ product.sub_title }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <h6 class="card-text">
                                    {% if product.is_sale %}
                                        {{ product.sale_price }} LKR
                                    {% else %}
                                        {{ product.price }} LKR
                                    {% endif %}
                                    </h6>
                                    <div class="row justtify-content-center">
                                    <div class="col-md-2">Quantity</div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="qty-cart">
                                          <option selected>1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                        </select>
                                    </div>
                                    </div>
                                    <br><br>
                                    
                                    <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
                                    <button type="button" value="{{ product.id }}" class="btn btn-primary" id="add-cart">Add To Cart</button>
                              </div>
                            </div>
                          </div>
                    </div>
        	</div>
        </div>
        <br><br>

<script>
    
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // Logging the error details
            }
        });
    });

</script>

{% endblock %}