{% extends 'base.html' %}
{% load static %}

{% block content %}
        <br><br>
        <div class="container">
        	<div class="row">
                    <div class="card mb-3" style="min-height: 75vh;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                   <h4 class="card-title">{{ product.name }}</h4>
                                    <h5 class="card-text">{{ product.sub_title }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <h6 class="card-text">
                                    {% if product.is_sale %}
                                        {{ product.sale_price }} LKR
                                    {% else %}
                                        {{ product.price }} LKR
                                    {% endif %}
                                    </h6>
                                    
                                    <a href="{% url 'home' %}" class="btn btn-secondary"> Home </a>
                              </div>
                            </div>
                          </div>
                    </div>
        	</div>
        </div>
        <br><br>
{% endblock %}