{% extends 'base.html' %}
{% load static %}

{% block content %}
 <header class="bg-dark py-5"  style="background-image: url('https://t3.ftcdn.net/jpg/05/20/68/84/360_F_520688411_0T9u1aWvP41ivsDmjXzM5fvBcUdnspjL.jpg'); background-size: cover;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Register...</h1>
                    <p class="lead fw-normal text-white-80 mb-0">Create Your New Steller Whale Account Here ...</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
        	<div class="row">
                <div class="col-md-6 offset-md-3">
                     <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-secondary">
                            Register
                        </button>
                    </form>
                </div>
        	</div>
        </div>
        <br><br>
{% endblock %}