{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="bg-dark py-5" style="background-image: url('https://t3.ftcdn.net/jpg/05/20/68/84/360_F_520688411_0T9u1aWvP41ivsDmjXzM5fvBcUdnspjL.jpg'); background-size: cover;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Billing</h1>
            <p class="lead fw-normal text-white-80 mb-0">Enter your billing info...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Left column -->
        <div class="col-md-6">
            <br><br>
            <div class="card">
                <div class="card-header">
                    Order Summary
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        {{ product.name }}:
                        {% if product.is_sale %}
                            {{ product.sale_price }} LKR
                        {% else %}
                            {{ product.price }} LKR
                        {% endif %}
                        <br>
                        <small>Quantity:
                            {% for key, value in quantities.items %} 
                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </small>
                        <br>
                    {% endfor %} 
                    <br>
                    <strong>Total: {{ totals }} LKR</strong>
                    <br><br>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    Name: {{ shipping_data.shipping_full_name }}<br>
                    Email: {{ shipping_data.shipping_email }}<br>
                    Address 1: {{ shipping_data.shipping_address1 }}<br>
                    Address 2: {{ shipping_data.shipping_address2 }}<br>
                    City: {{ shipping_data.shipping_city }}<br>
                    State: {{ shipping_data.shipping_state }}<br>
                    Zipcode: {{ shipping_data.shipping_zipcode }}<br>
                    Country: {{ shipping_data.shipping_country }}<br><br>
                    <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Update Shipping</a>
                </div>
            </div>
        </div>
        <!-- Right column -->
        <div class="col-md-6">
            <br><br>
            <div class="card">
                <div class="card-header">
                    Billing Info
                </div>
                <div class="card-body">
                    {{ billing_form.as_p }}
                </div>
            </div>
            <br>
            <a href="#" class="btn btn-primary">Pay Now</a>
            <br><br><br><br>
        </div>
    </div>
</div>
{% endblock %}
